# Python artifacts
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.pytest_cache/

# Pipenv
Pipfile.lock

# Virtual environments
.venv/
.env/

# Mac/Linux editor files
.DS_Store

# Logs, databases, caches
*.sqlite3
*.log
/logs/

# VSCode
.vscode/

# JetBrains
.idea/

# Python coverage
.coverage
coverage.xml
htmlcov/