[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
tokenizers = "*"
datasets = "*"
sentence-transformers = "*"
openai = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"

[scripts]
start1 = "python day1-tokenizer/src/tokenizer_demo.py"
test1 = "python -m pytest day1-tokenizer/tests"
